.tasks{
	margin: 10px 0;
	max-height: 250px;
	overflow: auto;
	box-shadow: 5px -20px 50px #0dcaf0;
	border-radius: 10px;
	.item{
		margin-left: 30px;
		cursor: pointer;
	}
}

.list-group-item{
	display: flex;
	align-items: center;
	justify-content: left;
}

.input-group-text{
	padding: 10px;
	input{
		width: 20px;
		height: 20px;
	}
}

.icons{
	margin-left: auto;
	display: flex;
	justify-content: center;
	i{
		padding: 10px;
		cursor: pointer;
	}
}

.like{
	color: #0dcaf0;
}
.checked{
	text-decoration: line-through;
}